@charset "UTF-8";

#top {
	padding: 1%;
	width: 80%;
	margin: auto;
}
input[type=submit]{
	align: center;
	
}

table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

th, td {
	padding: 8px;
	border: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}


th {
	width: 30%;
}

tr{
	width: 70%;
}



#bottom {
	padding: 1%;
	text-align: center;
}
